<app-header></app-header>
<div id="container">
    <div id="content">   
        <div id="content_left">
            <div class="content_left_section">
                <h1>Categorías</h1>
                <ul>
                    <li><a href="">Ficción</a></li>
                    <li><a href="">No Ficción</a></li>
                    <li><a href="">Misterio y Suspenso</a></li>
                    <li><a href="">Ciencia Ficción</a></li>
                    <li><a href="">Fantasía</a></li>
                    <li><a href="">Biografías y Memorias</a></li>
                    <li><a href="">Romántica</a></li>
                    <li><a href="">Historia</a></li>
                    <li><a href="">Desarrollo Personal</a></li>
                </ul>
            </div>
            <div class="content_left_section">
                <h1>Más Vendidos</h1>
                <ul>
                    <li><a href="">Vestibulum ullamcorper</a></li>
                    <li><a href="">Maece nas metus</a></li>
                    <li><a href="">In sed risus ac feli</a></li>
                    <li><a href="">Praesent mattis varius</a></li>
                    <li><a href="">Maece nas metus</a></li>
                    <li><a href="">In sed risus ac feli</a></li>
                    <li><a href="">Plantillas Flash</a></li>
                    <li><a href="">Plantillas CSS</a></li>
                    <li><a href="">Diseño Web</a></li>
                </ul>
            </div>
        </div>
        
        <div id="content_right">
            <div class="product_box">
                <h1>Fotografía  <span>(por Mejor Autor)</span></h1>
                <img src="assets/image_01.jpg" alt="imagen 1">
                <div class="product_info">
                    <p>Etiam luctus. Quisque facilisis suscipit elit. Curabitur...</p>
                    <h3>$55</h3>
                    <div class="buy_now_button"><a href="">Comprar Ahora</a></div>
                    <div class="detail_button"><a href="">Detalles</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="product_box">
                <h1>Cocina  <span>(por Nuevo Autor)</span></h1>
                <img src="/assets/image_02.jpg" alt="imagen 2">
                <div class="product_info">
                    <p>Aliquam a dui, ac magna quis est eleifend dictum.</p>
                    <h3>$35</h3>
                    <div class="buy_now_button"><a href="">Comprar Ahora</a></div>
                    <div class="detail_button"><a href="">Detalles</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="product_box">
                <h1>Jardinería <span>(por Autor Famoso)</span></h1>
                <img src="/assets/image_03.jpg" alt="imagen 3">
                <div class="product_info">
                    <p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
                    <h3>$65</h3>
                    <div class="buy_now_button"><a href="">Comprar Ahora</a></div>
                    <div class="detail_button"><a href="">Detalles</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="product_box">
                <h1>Libro de Sushi  <span>(por Nombre Japonés)</span></h1>
                <img src="/assets/image_04.jpg" alt="imagen 4">
                <div class="product_info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h3>$45</h3>
                    <div class="buy_now_button"><a href="">Comprar Ahora</a></div>
                    <div class="detail_button"><a href="">Detalles</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href=""><img src="/assets/ads.jpg" alt="publicidad"></a>
        </div>
        

    </div>
</div>
<app-footer></app-footer>